* {
  box-sizing: border-box;
}

body {
  font-family: "Overpass", serif !important;
  min-height: 100vh;
  position: relative;
}

h1,
h5,
.btn-link {
  font-family: "Russo One", serif !important;
}

.dropdown-item {
  cursor: pointer;

  &.active,
  &:active,
  &:hover,
  &:hover + div {
    background-color: #eaf8ff !important;
    color: #052c65 !important;
  }

  &.active + div,
  &:active + div {
    background-color: #eaf8ff;
    color: #052c65;
  }
}

#wrapper {
  width: 100%;
  min-height: 100vh;
}

.container {
  width: min(100%, 700px) !important;
  margin: 0 auto !important;
}

header {
  padding-left: 2em;
}

.list-group-item {
  user-select: none;

  &-light:hover {
    background-color: #e9ecef;
  }
  &-success:hover {
    background-color: #a3cfbb;
  }

  button {
    color: #052c65;

    &:hover {
      background-color: #052c65;
    }
  }

  .form-check-input {
    &:checked {
      background-color: #052c65;
    }
  }
}

.buttons-block {
  svg {
    &:hover {
      transform: scale(1.2);
      cursor: pointer;
    }
    &:active {
      color: #000000;
    }
  }
}

.card {
  animation: move 0.3s linear 1 forwards;
  position: relative;
  z-index: 1000;
}

@keyframes move {
  from {
    opacity: 0;
    left: -100px;
  }
  to {
    opacity: 1;
    left: 0;
  }
}

.btn-link {
  text-decoration: none !important;
  &:hover,
  &.active {
    text-decoration: underline !important;
  }
}

svg {
  transition: transform 0.3s;

  &:hover {
    cursor: pointer;
    color: #052c65;
    transform: scale(1.1);
  }
}

.products-list {
  h1 {
    width: max-content;
    margin: 0 auto;
    padding: 0.3em 1em;
  }
}

.btn-light {
  display: flex !important;
  align-items: center !important;
  transition: all 0.2s ease-in-out !important;

  &.active,
  &.active + button {
    background-color: #052c65 !important;
    color: white !important;

    svg:hover {
      color: white !important;
    }
  }
}

footer {
  text-align: center;
  opacity: 0.6;
  width: 100%;
}

.nav-link {
  &.active {
    font-weight: 900 !important;
  }
}
